body {
    background: #38454B;
}

aside {
    float: left;
    background: #C6C9CE;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid #9DAFBB;
}

img {
    width: 110px;
    height: 110px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 50px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #0B5381;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 80%;
}

main .features h1 {
    font-size: 50px;
}

main .features p {
    max-width: 500px;
    margin: 20px auto;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}